* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: 'Saira';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}